<h1>Results</h1>

<table>
<tr>
<th>Name</th>
<th>Votes</th>
</tr>
<% @acts.each do |a| %>
<tr>
<td><%= a.name %></td>
<td><%= a.votes %></td>
</tr>
<% end %>
</table>

<h3>Or, add a new act</h3>

<%= react_component "NewActForm", { authenticity_token: form_authenticity_token } %> <%## TODO passing it this way doesn't work %>
